@import "../../../../styles.scss";
.operations-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.power-indicator-container {
  border: 1px solid $dark-ui-outline;
  border-radius: 4px;
  background: $alternative-dark-ui-background;
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.operations-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .tab-button {
    @extend .dark-ui-button !optional;
    white-space: nowrap;

    &.active {
      background: $alternative-dark-ui-background-hover;
    }
  }
}
