<div class="course-plotter">
  <canvas
    #canvasElement
    (click)="handleClick($event)"
    [style.cursor]="'crosshair'"
  >
  </canvas>

  <button class="close-button" (click)="closeMap()">
    <i class="fas fa-times"></i>
  </button>

  @if(selectedObject) {
  <div class="object-info-container">
    <div class="object-info">
      <button class="info-close-button" (click)="selectedObject = null">
        ×
      </button>
      <h3>{{ selectedObject.name }}</h3>
      <p>{{ selectedObject.description }}</p>
    </div>
  </div>
  }
</div>
