<div class="course-plotter">
  <canvas
    #canvasElement
    (click)="handleClick($event)"
    (mousedown)="startDrag($event)"
    (mousemove)="handleDrag($event)"
    (mouseup)="endDrag()"
    (mouseleave)="endDrag()"
    (touchstart)="startDrag($event)"
    (touchmove)="handleDrag($event)"
    (touchend)="endDrag()"
    [style.cursor]="isDragging ? 'grabbing' : 'grab'"
  >
  </canvas>

  <button class="close-button dark-icon-button" (click)="closeMap()">
    <i class="fa fa-window-close"></i>
  </button>

  <button
    class="toggle-territories-button dark-icon-button"
    (click)="toggleTerritories()"
  >
    <i [class]="showTerritories ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
  </button>

  <button class="space-object-search-button dark-icon-button">
    <i class="fa fa-search"></i>
  </button>

  @if(selectedObject) {
  <app-modal (modalClosed)="selectedObject = null">
    <div class="object-info">
      <div class="object-preview">
        <canvas #previewCanvas class="preview-canvas"></canvas>
      </div>
      <div class="object-details">
        <h3>{{ selectedObject.name }}</h3>
        <p class="object-description">{{ selectedObject.description }}</p>
        <h3>{{ selectedObject.territory }} {{ selectedObject.type }}</h3>
        <p class="travel-estimate">
          Estimated travel time:
          {{ getFormattedTravelTime(selectedObject) }} seconds at Warp
          {{ currentState?.speed }}
        </p>
      </div>

      <button
        class="dark-ui-button submit-modal-button"
        (click)="setDestinationCourse(); selectedObject = null"
      >
        Set Course
      </button>
    </div>
  </app-modal>
  }
</div>
