@import "../../../../style-library/main.scss";

.course-plotter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $space-color;
  z-index: 9999;
  overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    touch-action: none;
  }
}

.object-info {
  .object-preview {
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 128px;

    .preview-canvas {
      image-rendering: pixelated;
      image-rendering: crisp-edges;
    }
  }

  .object-details {
    text-align: center;
    width: 100%;

    h3 {
      margin: 0 0 10px 0;
    }

    p {
      margin: 0;
      font-size: 0.9em;

      &.travel-estimate {
        margin-top: 10px;
      }
    }
  }

  .object-description {
    text-wrap: wrap;
  }
}

.course-plotter-map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
  display: flex;
  gap: 25px;
}
