<h1>Welcome {{ authService.activeUser?.displayName }}</h1>

<div>
  <span>Star Date: {{ starDate }}</span>
</div>

<!-- Display the ship they are currently serving on -->

<!-- Resign service button to change ships -->

<!-- If they are not currently serving on a starship, show create starship button -->
<button (click)="createNewStarship()">Create Starship</button>

<!-- If they are not currently serving on a starship, show join starship button. Join with a code -->
<input placeholder="Type game code here..." [(ngModel)]="gameCode" />
