@import "../../style-library/main.scss";

h1 {
  @include title-large;
  @include title-glow;
  text-align: center;
  margin-bottom: 2rem;
}

span {
  @include copy-text;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.host-game-section,
.join-game-section {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  button {
    @extend .dark-ui-button;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
