@import "../../../styles.scss";

.screen-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: $alternative-dark-ui-background;
  border-bottom: 1px solid #333;
}

.nav-arrow {
  background: none;
  border: none;
  color: $dark-ui-color;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 15px;

  &:disabled {
    color: $alternative-dark-ui-outline;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    color: $dark-ui-color;
  }
}

.terminal-name {
  @include title-glow;
}
