<h1>Register for Duckfleet!</h1>

<form
  [formGroup]="loginForm"
  (ngSubmit)="submitLogin()"
  class="form-section login-form"
>
  <h2>Existing Duck</h2>
  <input type="email" placeholder="email" formControlName="email" />
  <input type="password" placeholder="Password" formControlName="password" />
  <sub>*Passwords must be at least 6 characters long.</sub>

  <div class="button-section">
    <button mat-button color="primary" (click)="forgotPassword()">
      I forgot my password
    </button>

    <button type="submit">Login</button>
  </div>
</form>

<form
  [formGroup]="signUpForm"
  (ngSubmit)="submitSignUp()"
  class="form-section sign-up-form"
>
  <h2>Create Duck</h2>
  <input type="email" placeholder="email" formControlName="email" />
  <input type="password" placeholder="Password" formControlName="password" />
  <sub>*Passwords must be at least 6 characters long.</sub>
  <input
    type="text"
    placeholder="Your username"
    formControlName="displayName"
  />
  <button type="submit">Sign up</button>
</form>

@if(error) {
<p class="error">
  {{ error }}
</p>
} @if (message) {
<p class="message">
  {{ message }}
</p>
}
