$menu-background-color: #f1f1f1;
$menu-background-color-darker: #ddd;

// Colors for when the background is dark, like in the course plotter
$dark-ui-color: #0f0;
$dark-ui-background: rgba(0, 255, 0, 0.2);
$dark-ui-background-hover: rgba(0, 255, 0, 0.4);
