$menu-background-color: #f1f1f1;
$menu-background-color-darker: #ddd;

// Colors for when the background is dark, like in the course plotter
$dark-ui-color: #0f0;
$dark-ui-background: rgba(0, 255, 0, 0.2);
$dark-ui-background-hover: rgba(0, 255, 0, 0.4);

$alternative-dark-ui-color: #fff;
$alternative-dark-ui-background: rgba(0, 0, 0, 0.5);
$alternative-dark-ui-background-hover: rgba(90, 89, 89, 0.8);
$alternative-dark-ui-outline: #666;

// Colors for when the background is light, like in the main menu
// Just a heads up, these are AI generated placeholders colors.
$light-ui-color: #000;
$light-ui-background: rgba(0, 0, 0, 0.2);
$light-ui-background-hover: rgba(0, 0, 0, 0.4);
