[dropdown-item] {
  @include terminal-text;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: $dark-ui-color;
  border-bottom: 1px solid $alternative-dark-ui-outline;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: $dark-ui-background-hover;
  }
}

[dropdown-button] {
  @extend .dark-icon-button;
  min-width: 44px;
  min-height: 44px;
}

.dropdown-menu {
  background: $alternative-dark-ui-background;
  border: 1px solid $alternative-dark-ui-outline;
  border-radius: 4px;
  padding: 5px 0;
  backdrop-filter: blur(5px);
}
