.modal-body {
  padding: 20px;
  text-align: center;
}

.submit-modal-button {
  width: 100%;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.large-modal-input {
  width: 100%;
}

.modal-title {
  @include title-text;
}
