// Base modal backdrop
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $semi-transparent-background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  backdrop-filter: blur(2px);
}

// Base modal content
.modal-content {
  position: relative;
  min-width: 300px;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1002;
  background: $alternative-dark-ui-background;
  border: 1px solid $alternative-dark-ui-outline;
  padding: 20px;
  border-radius: 4px;
  color: $alternative-dark-ui-color;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

// Modal close button
.modal-close-button {
  @extend .dark-icon-button;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1003;

  &:hover {
    @include title-glow($dark-ui-copy);
  }
}

// Modal body content
.modal-body {
  padding: 20px;
  text-align: center;

  h2 {
    @include title-small;
    margin-bottom: 1.5rem;
  }

  p {
    @include copy-text;
  }
}

// Modal input styles
.modal-input {
  @extend .large-text-input;
  margin: 1rem 0;
}

// Modal button styles
.modal-button {
  @extend .dark-ui-button;
  width: 100%;
  margin-top: 1rem;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.secondary {
    @extend .alternative-dark-ui-button;
  }
}

.submit-modal-button {
  width: 100%;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.large-modal-input {
  width: 100%;
}

.modal-title {
  @include title-text;
}
