.modal-body {
  padding: 20px;
  text-align: center;

  input {
    margin: 10px 0;
    padding: 5px;
    width: 200px;
  }
}

.submit-modal-button {
  width: 100%;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
