<div class="flight-control-container">
  <button (click)="showMap()" class="open-map-button">
    Open Course Plotter
  </button>

  @if(isMapVisible) {
  <app-course-plotter-map
    [spaceObjects]="spaceObjects"
    [starshipState]="starshipState()"
    [gameSessionId]="gameSessionId()!"
    (destinationSelected)="onDestinationSelected($event)"
    (close)="hideMap()"
  >
  </app-course-plotter-map>
  }

  <div class="status-display">
    <div class="location-info">
      <p>
        Current Location:
        {{
          starshipState().isMoving
            ? "In Transit"
            : getLocationName(currentPosition())
        }}
      </p>
      @if (starshipState().isMoving) {
      <p>
        Destination: {{ getLocationName(starshipState().destinationLocation!) }}
      </p>
      <p>Time to destination: {{ formattedTimeToDestination() }} seconds</p>
      <p>Current speed: Warp {{ starshipState().speed }}</p>
      }
    </div>
  </div>

  <div class="speed-controls">
    <p>Warp Speed Control:</p>
    <div class="speed-buttons">
      @for (speed of [1,2,3,4,5,6,7,8,9]; track speed) {
      <button
        [class.active]="starshipState().speed === speed"
        (click)="updateSpeed(speed)"
      >
        {{ speed }}
      </button>
      }
    </div>
  </div>
</div>
