<div class="flight-control-container">
  <button (click)="showMap()" class="alternative-dark-ui-button">
    Open Course Plotter
  </button>

  @if(isMapVisible) {
  <app-course-plotter-map
    [starshipState]="starshipStateService.getStarshipState()()"
    [gameSessionId]="gameSessionId()!"
    (destinationSelected)="onDestinationSelected($event)"
    (close)="hideMap()"
  >
  </app-course-plotter-map>
  }

  <div class="status-display">
    <div class="location-info">
      <p>
        Current Location:
        <span class="data">
          {{ isMoving() ? "In Transit" : getLocationName(currentPosition()) }}
        </span>
      </p>
      @if (isMoving()) {
      <p>
        Destination: <span class="data">{{ destinationName() }}</span>
      </p>
      <p>
        Time to destination:
        <span class="data">{{
          starshipStateService.formattedRemainingTime()
        }}</span>
      </p>
      <p>
        Current speed: <span class="data">Warp {{ currentSpeed() }}</span>
      </p>
      }
    </div>
  </div>

  <div class="speed-controls">
    <p>Warp Speed Control:</p>
    <div class="speed-buttons">
      @for (speed of [1,2,3,4,5,6,7,8,9]; track speed) {
      <button
        [class.active]="currentSpeed() === speed"
        (click)="updateSpeed(speed)"
      >
        {{ speed }}
      </button>
      }
    </div>
  </div>
</div>
