<div class="flight-control-container">
  <button (click)="showMap()" class="open-map-button">
    Open Course Plotter
  </button>

  @if(isMapVisible) {
  <app-course-plotter-map
    [spaceObjects]="spaceObjects"
    [starshipState]="starshipState()"
    [gameSessionId]="gameSessionId()!"
    (destinationSelected)="onDestinationSelected($event)"
    (close)="hideMap()"
  >
  </app-course-plotter-map>
  }

  <div class="status-display">
    <div class="location-info">
      <p>Current Location: {{ getLocationName(currentPosition()) }}</p>
      @if (starshipState().isMoving) {
      <p>
        Destination: {{ getLocationName(starshipState().destinationLocation!) }}
      </p>
      <p>Time to destination: {{ timeToDestination() }} seconds</p>
      <p>Current speed: Warp {{ starshipState().speed }}</p>
      }
    </div>
  </div>
</div>
