<div class="main-viewer-container">
  <div class="main-viewer">
    <canvas #viewerCanvas></canvas>

    <div class="location-display">
      @if (currentLocationObject()) {
      <div class="current-location">
        <div class="location-info">
          <h3>{{ currentLocationObject()?.name }}</h3>
          <p>{{ currentLocationObject()?.type | titlecase }}</p>
          <p>Territory: {{ currentLocationObject()?.territory | titlecase }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
